# Práctica 2: Consultas MongoDB

Alumno: Hernan Matias Silva

In [7]:
# !pip install pymongo python-dotenv

In [ ]:
Se realiza la conexión al cluster de Atlas. Configurando las variables de entorno en el archivo .env.

In [ ]:
# Conexión a MongoDB
from dotenv import load_dotenv
import os
from pymongo import MongoClient

load_dotenv()
user = os.environ["MONGO_USER"]     # Variable de entorno en .env
password = os.environ["MONGO_PASS"] # Variable de entorno en .env
client = MongoClient(f"mongodb+srv://{user}:{password}@cluster0.xet1xsa.mongodb.net/")
db = client["finanzas"]

## 1. Región y cantidad total de productos vendidos a clientes de esa Región

In [9]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$cliente.region',
        'total': { '$sum': '$item.cantidad' }
    }} ,
    { '$project': { 'region': '$_id', '_id': 0, 'total': 1 } }
])
print(list(result))

[{'total': 14, 'region': 'NOA'}, {'total': 420, 'region': 'NEA'}, {'total': 282, 'region': 'CABA'}, {'total': 180, 'region': 'CENTRO'}]

## 2. Región con menor ingreso (por cantidad de productos vendidos)

In [10]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$cliente.region',
        'total': { '$sum': '$item.cantidad' }
    }} ,
    { '$project': { 'region': '$_id', '_id': 0, 'total': 1 } },
    { '$sort': { 'total': 1 } },
    { '$limit': 1 }
])
print(list(result))

[{'total': 14, 'region': 'NOA'}]

## 3. Regiones con cantidad de productos vendidos superior a 300

In [11]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$cliente.region',
        'total': { '$sum': '$item.cantidad' }
    }} ,
    { '$project': { 'region': '$_id', '_id': 0, 'total': 1 } },
    { '$match': { 'total': { '$gt': 300 } } }
])
print(list(result))

[{'total': 420, 'region': 'NEA'}]

## 4. Reporte: CUIT, apellido, nombre, región y cantidad de facturas, ordenado por apellido

In [12]:
result = db.facturas.aggregate([
    { '$group': {
        '_id': {
            'cuit': '$cliente.cuit',
            'apellido': '$cliente.apellido',
            'nombre': '$cliente.nombre',
            'region': '$cliente.region'
        },
        'cantidadFacturas': { '$sum': 1 }
    }},
    { '$project': {
        'cuit': '$_id.cuit',
        'apellido': '$_id.apellido',
        'nombre': '$_id.nombre',
        'region': '$_id.region',
        'cantidadFacturas': 1,
        '_id': 0
    }},
    { '$sort': { 'apellido': 1 } }
])
print(list(result))

[{'cantidadFacturas': 14, 'cuit': 2729887543, 'apellido': 'Lavagno', 'nombre': 'Soledad', 'region': 'NOA'}, {'cantidadFacturas': 15, 'cuit': 2740488484, 'apellido': 'Malinez', 'nombre': 'Marina', 'region': 'CENTRO'}, {'cantidadFacturas': 42, 'cuit': 2029889382, 'apellido': 'Manoni', 'nombre': 'Juan Manuel', 'region': 'NEA'}, {'cantidadFacturas': 29, 'cuit': 2038373771, 'apellido': 'Zavasi', 'nombre': 'Martin', 'region': 'CABA'}]

## 5. Clientes con CUIT mayor a 2700000000

In [13]:
result = db.facturas.aggregate([
    { '$group': {
        '_id': {
            'cuit': '$cliente.cuit',
            'apellido': '$cliente.apellido',
            'nombre': '$cliente.nombre',
            'region': '$cliente.region'
        },
        'cantidadFacturas': { '$sum': 1 }
    }},
    { '$project': {
        'cuit': '$_id.cuit',
        'apellido': '$_id.apellido',
        'nombre': '$_id.nombre',
        'region': '$_id.region',
        'cantidadFacturas': 1,
        '_id': 0
    }},
    { '$sort': { 'apellido': 1 } },
    { '$match': { 'cuit': { '$gt': 2700000000 } } }
])
print(list(result))

[{'cantidadFacturas': 14, 'cuit': 2729887543, 'apellido': 'Lavagno', 'nombre': 'Soledad', 'region': 'NOA'}, {'cantidadFacturas': 15, 'cuit': 2740488484, 'apellido': 'Malinez', 'nombre': 'Marina', 'region': 'CENTRO'}]

## 6. Cantidad de clientes con CUIT mayor a 2700000000

In [14]:
result = db.facturas.aggregate([
    { '$group': {
        '_id': {
            'cuit': '$cliente.cuit',
            'apellido': '$cliente.apellido',
            'nombre': '$cliente.nombre',
            'region': '$cliente.region'
        },
        'cantidadFacturas': { '$sum': 1 }
    }},
    { '$project': {
        'cuit': '$_id.cuit',
        'apellido': '$_id.apellido',
        'nombre': '$_id.nombre',
        'region': '$_id.region',
        'cantidadFacturas': 1,
        '_id': 0
    }},
    { '$sort': { 'apellido': 1 } },
    { '$match': { 'cuit': { '$gt': 2700000000 } } },
    { '$count': 'cantidadClientes' }
])
print(list(result))

[{'cantidadClientes': 2}]

## 7. Producto y cantidad de facturas en las que lo compraron, ordenado por cantidad de facturas descendente

In [15]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$item.producto',
        'cantidadFacturas': { '$sum': 1 }
    }},
    { '$project': { 'producto': '$_id', 'cantidadFacturas': 1, '_id': 0 } },
    { '$sort': { 'cantidadFacturas': -1 } }
])
print(list(result))

[{'cantidadFacturas': 43, 'producto': 'TALADRO 12mm'}, {'cantidadFacturas': 29, 'producto': 'CORREA 10mm'}, {'cantidadFacturas': 28, 'producto': 'TUERCA 2mm'}, {'cantidadFacturas': 28, 'producto': 'TUERCA 5mm'}, {'cantidadFacturas': 28, 'producto': 'SET HERRAMIENTAS'}, {'cantidadFacturas': 15, 'producto': ' CORREA 12mm'}]

## 8. Cantidad total comprada e ingresos totales para cada producto

In [16]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$item.producto',
        'cantidadProducto': { '$sum': '$item.cantidad' },
        'ingresosProducto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'producto': '$_id', 'cantidadProducto': 1, 'ingresosProducto': 1, '_id': 0 } }
])
print(list(result))

[{'cantidadProducto': 165, 'ingresosProducto': 2970, 'producto': ' CORREA 12mm'}, {'cantidadProducto': 43, 'ingresosProducto': 21070, 'producto': 'TALADRO 12mm'}, {'cantidadProducto': 198, 'ingresosProducto': 26532, 'producto': 'CORREA 10mm'}, {'cantidadProducto': 112, 'ingresosProducto': 6720, 'producto': 'TUERCA 2mm'}, {'cantidadProducto': 350, 'ingresosProducto': 31500, 'producto': 'TUERCA 5mm'}, {'cantidadProducto': 28, 'ingresosProducto': 19600, 'producto': 'SET HERRAMIENTAS'}]

## 9. Productos ordenados por ingresos ascendentes, mostrar 2do y 3ro

In [17]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$item.producto',
        'cantidadProducto': { '$sum': '$item.cantidad' },
        'ingresosProducto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'producto': '$_id', 'cantidadProducto': 1, 'ingresosProducto': 1, '_id': 0 } },
    { '$sort': { 'ingresosProducto': 1 } },
    { '$skip': 1 },
    { '$limit': 2 }
])
print(list(result))

[{'cantidadProducto': 112, 'ingresosProducto': 6720, 'producto': 'TUERCA 2mm'}, {'cantidadProducto': 28, 'ingresosProducto': 19600, 'producto': 'SET HERRAMIENTAS'}]

## 10. Productos y array de personas que lo compraron (nombre completo)

In [18]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$item.producto',
        'personas': { '$addToSet': { '$concat': ['$cliente.nombre', ' ', '$cliente.apellido'] } }
    }},
    { '$project': { 'producto': '$_id', 'personas': 1, '_id': 0 } }
])
print(list(result))

[{'personas': ['Martin Zavasi', 'Juan Manuel Manoni'], 'producto': 'TUERCA 2mm'}, {'personas': ['Marina Malinez'], 'producto': ' CORREA 12mm'}, {'personas': ['Juan Manuel Manoni'], 'producto': 'TUERCA 5mm'}, {'personas': ['Martin Zavasi'], 'producto': 'CORREA 10mm'}, {'personas': ['Soledad Lavagno', 'Juan Manuel Manoni'], 'producto': 'SET HERRAMIENTAS'}, {'personas': ['Marina Malinez', 'Juan Manuel Manoni'], 'producto': 'TALADRO 12mm'}]

## 11. Productos ordenados por cantidad de diferentes personas que los compraron

In [19]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$item.producto',
        'personas': { '$addToSet': { '$concat': ['$cliente.nombre', ' ', '$cliente.apellido'] } }
    }},
    { '$project': { 'producto': '$_id', 'personas': 1, 'cantidadPersonas': { '$size': '$personas' }, '_id': 0 } },
    { '$sort': { 'cantidadPersonas': -1 } }
])
print(list(result))

[{'personas': ['Soledad Lavagno', 'Juan Manuel Manoni'], 'producto': 'SET HERRAMIENTAS', 'cantidadPersonas': 2}, {'personas': ['Marina Malinez', 'Juan Manuel Manoni'], 'producto': 'TALADRO 12mm', 'cantidadPersonas': 2}, {'personas': ['Martin Zavasi', 'Juan Manuel Manoni'], 'producto': 'TUERCA 2mm', 'cantidadPersonas': 2}, {'personas': ['Martin Zavasi'], 'producto': 'CORREA 10mm', 'cantidadPersonas': 1}, {'personas': ['Marina Malinez'], 'producto': ' CORREA 12mm', 'cantidadPersonas': 1}, {'personas': ['Juan Manuel Manoni'], 'producto': 'TUERCA 5mm', 'cantidadPersonas': 1}]

## 12. Total gastado por persona (nombre completo), solo los que gastaron más de 31000

In [20]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': {
            'cuit': '$cliente.cuit',
            'apellido': '$cliente.apellido',
            'nombre': '$cliente.nombre'
        },
        'totalGastado': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'cliente': { '$concat': ['$_id.nombre', ' ', '$_id.apellido'] }, 'totalGastado': 1, '_id': 0 } },
    { '$match': { 'totalGastado': { '$gt': 31000 } } }
])
print(list(result))

[{'totalGastado': 31572, 'cliente': 'Martin Zavasi'}, {'totalGastado': 56700, 'cliente': 'Juan Manuel Manoni'}]

## 13. Promedio de gasto por factura por cada región

In [21]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': { 'nroFactura': '$nroFactura', 'region': '$cliente.region' },
        'gasto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'nroFactura': '$_id.nroFactura', 'region': '$_id.region', 'gasto': 1, '_id': 0 } },
    { '$group': { '_id': '$region', 'promedioGasto': { '$avg': '$gasto' } } },
    { '$project': { 'region': '$_id', 'promedioGasto': 1, '_id': 0 } }
])
print(list(result))

[{'promedioGasto': 1350.0, 'region': 'NEA'}, {'promedioGasto': 688.0, 'region': 'CENTRO'}, {'promedioGasto': 1088.6896551724137, 'region': 'CABA'}, {'promedioGasto': 700.0, 'region': 'NOA'}]

## 14. Factura en la que se haya gastado más (si hay varias, la de menor número)

In [22]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$nroFactura',
        'gasto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'nroFactura': '$_id', 'gasto': 1, '_id': 0 } },
    { '$sort': { 'gasto': -1, 'nroFactura': 1 } },
    { '$limit': 1 }
])
print(list(result))

[{'gasto': 1968, 'nroFactura': 1002}]

## 15. Clientes y cuánto fue lo que más gastó en una única factura

In [23]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': { 'nroFactura': '$nroFactura', 'nombre': '$cliente.nombre', 'apellido': '$cliente.apellido', 'cuit': '$cliente.cuit' },
        'gasto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'nroFactura': '$_id.nroFactura', 'nombre': '$_id.nombre', 'apellido': '$_id.apellido', 'cuit': '$_id.cuit', 'gasto': 1, '_id': 0 } },
    { '$group': { '_id': { 'nombre': '$nombre', 'apellido': '$apellido', 'cuit': '$cuit' }, 'maxGasto': { '$max': '$gasto' } } },
    { '$project': { 'nombre': '$_id.nombre', 'apellido': '$_id.apellido', 'cuit': '$_id.cuit', 'maxGasto': 1, '_id': 0 } }
])
print(list(result))

[{'maxGasto': 688, 'nombre': 'Marina', 'apellido': 'Malinez', 'cuit': 2740488484}, {'maxGasto': 700, 'nombre': 'Soledad', 'apellido': 'Lavagno', 'cuit': 2729887543}, {'maxGasto': 1968, 'nombre': 'Martin', 'apellido': 'Zavasi', 'cuit': 2038373771}, {'maxGasto': 1960, 'nombre': 'Juan Manuel', 'apellido': 'Manoni', 'cuit': 2029889382}]

## 17. Clientes que hayan gastado más de 1000 en una orden, con número de orden

In [24]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': { 'nroFactura': '$nroFactura', 'nombre': '$cliente.nombre', 'apellido': '$cliente.apellido', 'cuit': '$cliente.cuit', 'region': '$cliente.region' },
        'gasto': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'nroFactura': '$_id.nroFactura', 'nombre': '$_id.nombre', 'apellido': '$_id.apellido', 'cuit': '$_id.cuit', 'region': '$_id.region', 'gasto': 1, '_id': 0 } },
    { '$match': { 'gasto': { '$gt': 1000 } } },
    { '$group': { '_id': { 'nombre': '$nombre', 'apellido': '$apellido', 'cuit': '$cuit', 'region': '$region' }, 'facturas': { '$push': '$nroFactura' } } },
    { '$project': { 'nombre': '$_id.nombre', 'apellido': '$_id.apellido', 'cuit': '$_id.cuit', 'region': '$_id.region', 'facturas': 1, '_id': 0 } }
])
print(list(result))

[{'facturas': [1031, 1005, 1047, 1087, 1089, 1045, 1094, 1066, 1003, 1033, 1052, 1012, 1080, 1026, 1096, 1073, 1054, 1010, 1059, 1068, 1061, 1075, 1024, 1038, 1040, 1017, 1082, 1019], 'nombre': 'Juan Manuel', 'apellido': 'Manoni', 'cuit': 2029889382, 'region': 'NEA'}, {'facturas': [1093, 1044, 1065, 1002, 1051, 1009, 1072, 1030, 1079, 1023, 1037, 1016, 1058, 1086], 'nombre': 'Martin', 'apellido': 'Zavasi', 'cuit': 2038373771, 'region': 'CABA'}]

## 18. Total facturado por localidad (región)

In [25]:
result = db.facturas.aggregate([
    { '$unwind': '$item' },
    { '$group': {
        '_id': '$cliente.region',
        'totalFacturado': { '$sum': { '$multiply': ['$item.cantidad', '$item.precio'] } }
    }},
    { '$project': { 'region': '$_id', 'totalFacturado': 1, '_id': 0 } }
])
print(list(result))

[{'totalFacturado': 31572, 'region': 'CABA'}, {'totalFacturado': 56700, 'region': 'NEA'}, {'totalFacturado': 10320, 'region': 'CENTRO'}, {'totalFacturado': 9800, 'region': 'NOA'}]